/*
* Structure from: https://github.com/richleland/pygments-css/blob/master/monokai.css
* 
*/

.highlight .hll { background-color: #264f78 }
.highlight  { background: $code-bg-dark; color: #f8f8f2 }
.highlight .c { color: $comment } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: $keyword} /* Keyword */
.highlight .l { color: $number } /* Literal */
.highlight .n { color: $name } /* Name */
.highlight .o { color: $operator } /* Operator */
.highlight .p { color: $punctuation } /* Punctuation */
.highlight .ch { color: $comment } /* Comment.Hashbang */
.highlight .cm { color: $comment } /* Comment.Multiline */
.highlight .cp { color: $comment } /* Comment.Preproc */
.highlight .cpf { color: $comment } /* Comment.PreprocFile */
.highlight .c1 { color: $comment } /* Comment.Single */
.highlight .cs { color: $comment } /* Comment.Special */
.highlight .gd { color: #f92672 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: $name } /* Generic.Inserted */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $comment } /* Generic.Subheading */
.highlight .kc { color: $keyword  } /* Keyword.Constant */
.highlight .kd { color: $keyword  } /* Keyword.Declaration */
.highlight .kn { color: $keyword  } /* Keyword.Namespace */
.highlight .kp { color: $keyword  } /* Keyword.Pseudo */
.highlight .kr { color: $keyword  } /* Keyword.Reserved */
.highlight .kt { color: $keyword  } /* Keyword.Type */
.highlight .ld { color: $string } /* Literal.Date */
.highlight .m { color: $number } /* Literal.Number */
.highlight .s { color: $string } /* Literal.String */
.highlight .na { color: $name } /* Name.Attribute */
.highlight .nb { color: $name_function} /* Name.Builtin */
.highlight .nc { color: $name } /* Name.Class */
.highlight .no { color: $name_constant } /* Name.Constant */
.highlight .nd { color: $name } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: $name } /* Name.Exception */
.highlight .nf { color: $name_function } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: $name } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: $name_variable } /* Name.Variable */
.highlight .ow { color: $operator_word } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mb { color: $number } /* Literal.Number.Bin */
.highlight .mf { color: $number } /* Literal.Number.Float */
.highlight .mh { color: $number } /* Literal.Number.Hex */
.highlight .mi { color: $number } /* Literal.Number.Integer */
.highlight .mo { color: $number } /* Literal.Number.Oct */
.highlight .sa { color: $string } /* Literal.String.Affix */
.highlight .sb { color: $string } /* Literal.String.Backtick */
.highlight .sc { color: $string } /* Literal.String.Char */
.highlight .dl { color: $string } /* Literal.String.Delimiter */
.highlight .sd { color: $string } /* Literal.String.Doc */
.highlight .s2 { color: $string } /* Literal.String.Double */
.highlight .se { color: $number } /* Literal.String.Escape */
.highlight .sh { color: $string } /* Literal.String.Heredoc */
.highlight .si { color: $string } /* Literal.String.Interpol */
.highlight .sx { color: $string } /* Literal.String.Other */
.highlight .sr { color: $string } /* Literal.String.Regex */
.highlight .s1 { color: $string } /* Literal.String.Single */
.highlight .ss { color: $string } /* Literal.String.Symbol */
.highlight .bp { color: $operator_word; font-weight: bold } /* Name.Builtin.Pseudo */
.highlight .fm { color: $name } /* Name.Function.Magic */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.highlight .il { color: $number } /* Literal.Number.Integer.Long */